@charset "UTF-8";
@font-face {
  font-family: "westio-icon";
  src: url("../fonts/icons/westio-icon-1.0.2.eot");
  src: url("../fonts/icons/westio-icon-1.0.2.eot?#iefix") format("eot"), url("../fonts/icons/westio-icon-1.0.2.woff2") format("woff2"), url("../fonts/icons/westio-icon-1.0.2.woff") format("woff"), url("../fonts/icons/westio-icon-1.0.2.ttf") format("truetype"), url("../fonts/icons/westio-icon-1.0.2.svg#westio-icon-1.0.2") format("svg");
}
[class*=westio-icon-] {
  font-family: "westio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.westio-icon-call:before {
  content: "";
}

.westio-icon-check1:before {
  content: "";
}

.westio-icon-link:before {
  content: "";
}

.westio-icon-mail:before {
  content: "";
}

.westio-icon-menu:before {
  content: "";
}

.westio-icon-message:before {
  content: "";
}

.westio-icon-phone-call:before {
  content: "";
}

.westio-icon-360:before {
  content: "";
}

.westio-icon-add-line:before {
  content: "";
}

.westio-icon-add-to-cart:before {
  content: "";
}

.westio-icon-angle-double-down:before {
  content: "";
}

.westio-icon-angle-double-left:before {
  content: "";
}

.westio-icon-angle-double-right:before {
  content: "";
}

.westio-icon-angle-double-up:before {
  content: "";
}

.westio-icon-angle-down:before {
  content: "";
}

.westio-icon-angle-left:before {
  content: "";
}

.westio-icon-angle-right:before {
  content: "";
}

.westio-icon-angle-up:before {
  content: "";
}

.westio-icon-arrow-alt-circle-down:before {
  content: "";
}

.westio-icon-arrow-alt-circle-left:before {
  content: "";
}

.westio-icon-arrow-alt-circle-right:before {
  content: "";
}

.westio-icon-arrow-alt-circle-up:before {
  content: "";
}

.westio-icon-arrow-alt-down:before {
  content: "";
}

.westio-icon-arrow-alt-from-bottom:before {
  content: "";
}

.westio-icon-arrow-alt-from-left:before {
  content: "";
}

.westio-icon-arrow-alt-from-right:before {
  content: "";
}

.westio-icon-arrow-alt-from-top:before {
  content: "";
}

.westio-icon-arrow-alt-left:before {
  content: "";
}

.westio-icon-arrow-alt-right:before {
  content: "";
}

.westio-icon-arrow-alt-square-down:before {
  content: "";
}

.westio-icon-arrow-alt-square-left:before {
  content: "";
}

.westio-icon-arrow-alt-square-right:before {
  content: "";
}

.westio-icon-arrow-alt-square-up:before {
  content: "";
}

.westio-icon-arrow-alt-to-bottom:before {
  content: "";
}

.westio-icon-arrow-alt-to-left:before {
  content: "";
}

.westio-icon-arrow-alt-to-right:before {
  content: "";
}

.westio-icon-arrow-alt-to-top:before {
  content: "";
}

.westio-icon-arrow-alt-up:before {
  content: "";
}

.westio-icon-arrow-circle-down:before {
  content: "";
}

.westio-icon-arrow-circle-left:before {
  content: "";
}

.westio-icon-arrow-circle-right:before {
  content: "";
}

.westio-icon-arrow-circle-up:before {
  content: "";
}

.westio-icon-arrow-down:before {
  content: "";
}

.westio-icon-arrow-dropdown:before {
  content: "";
}

.westio-icon-arrow-from-bottom:before {
  content: "";
}

.westio-icon-arrow-from-left:before {
  content: "";
}

.westio-icon-arrow-from-right:before {
  content: "";
}

.westio-icon-arrow-from-top:before {
  content: "";
}

.westio-icon-arrow-left:before {
  content: "";
}

.westio-icon-arrow-right:before {
  content: "";
}

.westio-icon-arrow-square-down:before {
  content: "";
}

.westio-icon-arrow-square-left:before {
  content: "";
}

.westio-icon-arrow-square-right:before {
  content: "";
}

.westio-icon-arrow-square-up:before {
  content: "";
}

.westio-icon-arrow-to-bottom:before {
  content: "";
}

.westio-icon-arrow-to-left:before {
  content: "";
}

.westio-icon-arrow-to-right:before {
  content: "";
}

.westio-icon-arrow-to-top:before {
  content: "";
}

.westio-icon-arrow-up:before {
  content: "";
}

.westio-icon-arrows-alt-h:before {
  content: "";
}

.westio-icon-arrows-alt-v:before {
  content: "";
}

.westio-icon-arrows-alt:before {
  content: "";
}

.westio-icon-arrows-h:before {
  content: "";
}

.westio-icon-arrows-v:before {
  content: "";
}

.westio-icon-arrows:before {
  content: "";
}

.westio-icon-calendar:before {
  content: "";
}

.westio-icon-call-calling:before {
  content: "";
}

.westio-icon-call-history:before {
  content: "";
}

.westio-icon-caret-circle-down:before {
  content: "";
}

.westio-icon-caret-circle-left:before {
  content: "";
}

.westio-icon-caret-circle-right:before {
  content: "";
}

.westio-icon-caret-circle-up:before {
  content: "";
}

.westio-icon-caret-down:before {
  content: "";
}

.westio-icon-caret-left:before {
  content: "";
}

.westio-icon-caret-right:before {
  content: "";
}

.westio-icon-caret-square-down:before {
  content: "";
}

.westio-icon-caret-square-left:before {
  content: "";
}

.westio-icon-caret-square-right:before {
  content: "";
}

.westio-icon-caret-square-up:before {
  content: "";
}

.westio-icon-caret-up:before {
  content: "";
}

.westio-icon-cart-arrow-down:before {
  content: "";
}

.westio-icon-cart-empty:before {
  content: "";
}

.westio-icon-cart-s:before {
  content: "";
}

.westio-icon-chat:before {
  content: "";
}

.westio-icon-check-circle:before {
  content: "";
}

.westio-icon-check-double:before {
  content: "";
}

.westio-icon-check-fill:before {
  content: "";
}

.westio-icon-check-s:before {
  content: "";
}

.westio-icon-check-square:before {
  content: "";
}

.westio-icon-check:before {
  content: "";
}

.westio-icon-checkbox-circle-fill:before {
  content: "";
}

.westio-icon-chevron-circle-down:before {
  content: "";
}

.westio-icon-chevron-circle-left:before {
  content: "";
}

.westio-icon-chevron-circle-right:before {
  content: "";
}

.westio-icon-chevron-circle-up:before {
  content: "";
}

.westio-icon-chevron-double-down:before {
  content: "";
}

.westio-icon-chevron-double-left:before {
  content: "";
}

.westio-icon-chevron-double-right:before {
  content: "";
}

.westio-icon-chevron-double-up:before {
  content: "";
}

.westio-icon-chevron-down:before {
  content: "";
}

.westio-icon-chevron-left:before {
  content: "";
}

.westio-icon-chevron-right:before {
  content: "";
}

.westio-icon-chevron-square-down:before {
  content: "";
}

.westio-icon-chevron-square-left:before {
  content: "";
}

.westio-icon-chevron-square-right:before {
  content: "";
}

.westio-icon-chevron-square-up:before {
  content: "";
}

.westio-icon-chevron-up:before {
  content: "";
}

.westio-icon-close:before {
  content: "";
}

.westio-icon-cloud-download-alt:before {
  content: "";
}

.westio-icon-comment-info:before {
  content: "";
}

.westio-icon-comments-alt:before {
  content: "";
}

.westio-icon-compare:before {
  content: "";
}

.westio-icon-compress-arrows-alt:before {
  content: "";
}

.westio-icon-credit-card:before {
  content: "";
}

.westio-icon-dot-circle:before {
  content: "";
}

.westio-icon-dot:before {
  content: "";
}

.westio-icon-dotfour:before {
  content: "";
}

.westio-icon-down-filled-arrow:before {
  content: "";
}

.westio-icon-edit:before {
  content: "";
}

.westio-icon-envelope:before {
  content: "";
}

.westio-icon-equalizer-line:before {
  content: "";
}

.westio-icon-expand-arrows-alt:before {
  content: "";
}

.westio-icon-expand-arrows:before {
  content: "";
}

.westio-icon-eye-dropper:before {
  content: "";
}

.westio-icon-eye-slash:before {
  content: "";
}

.westio-icon-eye:before {
  content: "";
}

.westio-icon-facebook-cicrle:before {
  content: "";
}

.westio-icon-facebook:before {
  content: "";
}

.westio-icon-file-alt:before {
  content: "";
}

.westio-icon-file-archive:before {
  content: "";
}

.westio-icon-filter:before {
  content: "";
}

.westio-icon-frown-open:before {
  content: "";
}

.westio-icon-frown:before {
  content: "";
}

.westio-icon-gift-card:before {
  content: "";
}

.westio-icon-gift:before {
  content: "";
}

.westio-icon-gifts:before {
  content: "";
}

.westio-icon-globe:before {
  content: "";
}

.westio-icon-heart:before {
  content: "";
}

.westio-icon-home:before {
  content: "";
}

.westio-icon-info-circle:before {
  content: "";
}

.westio-icon-instagram:before {
  content: "";
}

.westio-icon-layout-grid:before {
  content: "";
}

.westio-icon-layout-list:before {
  content: "";
}

.westio-icon-linkedin:before {
  content: "";
}

.westio-icon-liquid:before {
  content: "";
}

.westio-icon-location-arrow:before {
  content: "";
}

.westio-icon-location:before {
  content: "";
}

.westio-icon-long-arrow-alt-down:before {
  content: "";
}

.westio-icon-long-arrow-alt-left:before {
  content: "";
}

.westio-icon-long-arrow-alt-right:before {
  content: "";
}

.westio-icon-long-arrow-alt-up:before {
  content: "";
}

.westio-icon-long-arrow-down:before {
  content: "";
}

.westio-icon-long-arrow-left:before {
  content: "";
}

.westio-icon-long-arrow-right-up:before {
  content: "";
}

.westio-icon-long-arrow-right:before {
  content: "";
}

.westio-icon-long-arrow-up:before {
  content: "";
}

.westio-icon-mail-send-line:before {
  content: "";
}

.westio-icon-map-marker-alt:before {
  content: "";
}

.westio-icon-map-marker-check:before {
  content: "";
}

.westio-icon-map-marker-times:before {
  content: "";
}

.westio-icon-map-marker:before {
  content: "";
}

.westio-icon-meh-blank:before {
  content: "";
}

.westio-icon-meh-rolling-eyes:before {
  content: "";
}

.westio-icon-meh:before {
  content: "";
}

.westio-icon-minus-circle:before {
  content: "";
}

.westio-icon-minus:before {
  content: "";
}

.westio-icon-mobile:before {
  content: "";
}

.westio-icon-money-check-alt:before {
  content: "";
}

.westio-icon-overlap:before {
  content: "";
}

.westio-icon-paper-plane:before {
  content: "";
}

.westio-icon-pen-tool:before {
  content: "";
}

.westio-icon-pen:before {
  content: "";
}

.westio-icon-phone:before {
  content: "";
}

.westio-icon-pin:before {
  content: "";
}

.westio-icon-plane-arrival:before {
  content: "";
}

.westio-icon-plane:before {
  content: "";
}

.westio-icon-play-circle:before {
  content: "";
}

.westio-icon-play:before {
  content: "";
}

.westio-icon-plus-circle:before {
  content: "";
}

.westio-icon-plus:before {
  content: "";
}

.westio-icon-question:before {
  content: "";
}

.westio-icon-quickview:before {
  content: "";
}

.westio-icon-quotation:before {
  content: "";
}

.westio-icon-quotes:before {
  content: "";
}

.westio-icon-rating-start:before {
  content: "";
}

.westio-icon-repeat:before {
  content: "";
}

.westio-icon-reply-line:before {
  content: "";
}

.westio-icon-reply:before {
  content: "";
}

.westio-icon-search-plus:before {
  content: "";
}

.westio-icon-search:before {
  content: "";
}

.westio-icon-share-all:before {
  content: "";
}

.westio-icon-share:before {
  content: "";
}

.westio-icon-shopping-bag:before {
  content: "";
}

.westio-icon-shopping-basket:before {
  content: "";
}

.westio-icon-shopping-cart:before {
  content: "";
}

.westio-icon-sign-out-alt:before {
  content: "";
}

.westio-icon-smile:before {
  content: "";
}

.westio-icon-sp-cart:before {
  content: "";
}

.westio-icon-spinner-third:before {
  content: "";
}

.westio-icon-spinner:before {
  content: "";
}

.westio-icon-square-fill:before {
  content: "";
}

.westio-icon-square-full:before {
  content: "";
}

.westio-icon-star-exclamation:before {
  content: "";
}

.westio-icon-star-half-alt:before {
  content: "";
}

.westio-icon-star-half:before {
  content: "";
}

.westio-icon-star-o:before {
  content: "";
}

.westio-icon-star:before {
  content: "";
}

.westio-icon-stars:before {
  content: "";
}

.westio-icon-sub-line:before {
  content: "";
}

.westio-icon-sync-alt:before {
  content: "";
}

.westio-icon-sync:before {
  content: "";
}

.westio-icon-th-list:before {
  content: "";
}

.westio-icon-time-line:before {
  content: "";
}

.westio-icon-times-circle:before {
  content: "";
}

.westio-icon-times:before {
  content: "";
}

.westio-icon-twitter:before {
  content: "";
}

.westio-icon-unlock-alt:before {
  content: "";
}

.westio-icon-unlock:before {
  content: "";
}

.westio-icon-user-circle:before {
  content: "";
}

.westio-icon-user:before {
  content: "";
}

.westio-icon-video:before {
  content: "";
}

.westio-icon-wishlist:before {
  content: "";
}

.westio-icon-world:before {
  content: "";
}

.westio-icon-youtube-alt:before {
  content: "";
}

.westio-icon-youtube:before {
  content: "";
}

.westio-icon-zoom-in:before {
  content: "";
}

/*# sourceMappingURL=icons.css.map */
